.boxCentral {
    background-color: white;
    width: 316px;
    height: 260px;
    display: inline-block;
    justify-content: center;
    padding: 24px;
    border-radius: 4%;
    margin: 40px 10px 0px 28px;
    color: #2B2A2B;
}

.boxCentral h4 {
    font-size: 18px;
    margin-bottom: 26px;
}

.boxCentral p { 
    font-size: 14px;
    text-align: center;
}

.picMain {
    background-color: #2A5B45;
    width: 21%;
    height: 25%;
    margin-left: 120px;
    margin-top: 10px;
    border-radius: 20%;
    margin-bottom: 26px;
}

.picMain img {
    padding: 12px;
}