
#iconPhone {
    display: inline-flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 180px;
}


#phone {
    width: 20px;
    height: 20px;
    padding: 25x 20px;
}
